
.container-fluid{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
}
.nave{
width: 95%;
height: 80px;
border-top: 1px solid rgb(255, 255, 255);
border-bottom: 1px solid rgb(255, 255, 255);
display: flex;
align-items: center;

}
.nave h5{
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 7px;
}
.contenido{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.imagen{

    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   box-shadow: 0px 0px 70px blue;
}
.imagen img{
  max-width: 100%;
 
}
.targeta{
 
    width: 50%;
    height: 350px;
    background-color: #2b2828;
   border-left: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.text{
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
color:white;
}
span{
  color:#00FF00;
}


@media (max-width: 1100px) {


  .contenido{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.imagen{

  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
 box-shadow: 0px 0px 70px blue;
 margin-bottom: 30px;
}
.targeta{
 
  width: 90%;
  height: 350px;
  background-color: #2b2828;
  border-left: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.text{
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:white;
 
}


}

@media (max-width: 500px){
  .targeta{
 
    width: 90%;
    height: auto;
    background-color: #2b2828;
    border-left: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .text{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color:white;
    margin-left: 10px;
  }

}