/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
	font-family: "Orbitron", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
         
}
::view-transition-old(root){

animation: exit 0.5s ease 0s 1 normal forwards;

}

::view-transition-new(root){
    animation: enter 1s ease 0s 1 normal forwards;
}
@keyframes exit {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.6);
	}
}
@keyframes enter {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}